<h2 class="text-center">Add Payment Method</h2>
<div>
    <div class="mx-auto" style="width: 20rem;">
        <form #editForm="ngForm" (ngSubmit)="submit()">
            <div class="form-group mb-3">
                <label for="lastFourDigits">Last Four Digits</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Last Four Digits"
                    required
                    [(ngModel)]="paymentMethod.lastFourDigits"
                    name="lastFourDigits"
                >
            </div>
        
            <div class="form-group mb-3">
                <label for="paymentType">Payment Type</label>
                <select
                    class="form-select"
                    required
                    [(ngModel)]="paymentMethod.paymentType"
                    name="paymentType"
                >
                    <option value="">Choose a payment type</option>
                    <option value="Bank Account">Bank Account</option>
                    <option value="Credit Card">Credit Card</option>
                    <option value="Debit Card">Debit Card</option>
                </select>
            </div>
        
            <div class="form-group mb-3">
                <label for="description">Description</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Description"
                    required
                    [(ngModel)]="paymentMethod.description"
                    name="description"
                >
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!editForm.dirty">Submit</button>
        </form>
    </div>
</div>