<div *ngIf="claim" class="m-4">
    <div class="card m-3">
        <div class="card-header">
            Claim #{{claim.claimNumber}}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="ms-2">
                        <i class="fa fa-child"></i>
                        {{claim.patientName}}
                    </div>
                    <div class="ms-2">
                        <i class="fa fa-user-md"></i>
                        {{claim.visitedProvider}}
                    </div>
                    <br>
                    <ul>
                        <li style="font-style: italic;">
                            {{claim.claimType}}
                        </li>                        
                        <li>
                            Visited on {{claim.dateVisited | date:'shortDate'}}
                        </li>
                        <li>
                            Processed on {{claim.dateProcessed | date:'shortDate'}}
                        </li>
                        <li *ngIf="claim.networkStatus">
                            {{claim.networkStatus}}
                            <i *ngIf="claim.networkStatus == 'In Network'" class="fa fa-check"></i>                            
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-8">
                            <div><strong>Billed:</strong></div>
                        </div>
                        <div class="col-4">
                            <div class="pull-right">{{claim.amountBilled | currency}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div><strong>Deductible:</strong></div>
                        </div>
                        <div class="col-4">
                            <div class="pull-right">{{claim.amountDeductible | currency}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div><strong>Plan Paid:</strong></div>
                        </div>
                        <div class="col-4">
                            <div class="pull-right">{{claim.amountPlanPaid | currency}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div><strong>Plan Discount:</strong></div>
                        </div>
                        <div class="col-4">
                            <div class="pull-right">{{claim.amountPlanDiscount | currency}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div><strong>Your Responsibility:</strong></div>
                        </div>
                        <div class="col-4">
                            <div class="pull-right">{{claim.amountYourResponsibility | currency}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div><strong>Paid at Visit:</strong></div>
                        </div>
                        <div class="col-4">
                            <div class="pull-right">{{claim.amountPaidAtVisit | currency}}</div>
                        </div>
                    </div>                                                                         
                    <div class="row">
                        <div class="col-8">
                            <div><strong>Owed:</strong></div>
                        </div>
                        <div class="col-4">
                            <div class="pull-right">{{claim.amountOwed | currency}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div><strong>HRA (75%)</strong></div>
                        </div>
                        <div class="col-4">
                            <div class="pull-right text-decoration-underline">{{getHraAmount() | currency}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div><strong>HSA (25%)</strong></div>
                        </div>
                        <div class="col-4">
                            <div class="pull-right text-decoration-underline">{{getHsaAmount() | currency}}</div>
                        </div>
                    </div>                                                                                
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="getRemainingBalance() > 0.005">
        <i class="fa fa-exclamation-circle"></i>
        You still owe <strong>{{getRemainingBalance() | currency}}</strong> on this claim!
    </div>

    <div *ngIf="claim.amountOwed > 0 && claim.reimbursements" class="mt-3">
        <h5>Reimbursements</h5>
        <p *ngIf="claim.reimbursements.length === 0" class="ms-3">
            No reimbursements have been submitted for this claim
        </p>
        <app-reimbursement-detail
            *ngFor="let reimbursement of claim?.reimbursements"
            [reimbursement]="reimbursement"
        >
        </app-reimbursement-detail>
        <button *ngIf="claim.reimbursements.length === 0" class="btn btn-primary ms-3" (click)="addReimbursement()">
            Add Reimbursement
        </button>     
    </div>

    <div *ngIf="claim.amountOwed > 0 && claim.payments" class="mt-3">
        <h5>Payments</h5>
        <app-payments-summary [payments]="claim.payments" [amountOwed]="claim.amountOwed"></app-payments-summary>
        <app-payment-add-dropdown (selected)="addPaymentFromRule($event)"></app-payment-add-dropdown>
    </div>
</div>