<div class="d-inline-flex">
    <div class="input-group" style="width: 650px;">
        <div class="input-group-prepend">
            <span
                class="input-group-text"
                [ngClass]="claims.length > 0 ? 'bg-success-subtle' : ''"
                style="border-top-right-radius: 0%; border-bottom-right-radius: 0%;"
            >
                {{claims.length}} Claims Found
            </span>
        </div>
        <select class="form-select" [(ngModel)]="claimParams.year" name="year">
            <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>
        
        <select class="form-select" [(ngModel)]="claimParams.patientId" name="patientId">
            <option value="0" selected>All Patients</option>
            <option *ngFor="let member of members" [value]="member.id">
                {{member.firstName}} {{member.lastName}}
            </option>
        </select>
        
        <div class="input-group-append">
            <button class="btn btn-outline-secondary button-mid" (click)="toggleUnpaidOnly()">
                {{claimParams.unpaidOnly ? 'Unpaid Only' : 'All Claims'}}
            </button>                
            <button class="btn btn-outline-success button-end" type="button" (click)="loadClaims()">Apply</button>
        </div>
    </div>
</div>

<div class="row border rounded my-3 main-container">
    <div class="col-5 child-container">
        <p class="text-center mt-3" *ngIf="claims.length == 0">No claims match the selected critera</p>
        <app-claim-card
            *ngFor="let claim of claims"
            [claim]="claim"
            [isSelected]="selectedClaimId === claim.id"
            (selected)="updateSelectedClaim($event)"
        ></app-claim-card>
    </div>
    <div class="col-7 child-container">
        <app-claim-detail [claim]="selectedClaim"></app-claim-detail>
    </div>
</div>
