.main-container {
    height: calc(100vh - 147px);
}

.child-container {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.button-mid {
    border-radius: 0px;
    width: 125px;
}

.button-end {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}