<div class="modal-header">
    <h4 class="modal-title pull-left">Add Reimbursement</h4>
</div>
<div class="modal-body">
    <form [formGroup]="reimbursementForm">
        <div class="form-group mb-3">
            <label for="amount">Amount</label>
            <input
                id="amount"
                type="number"
                class="form-control"
                formControlName="amount"
                placeholder="Amount"
            >
            <div class="mt-1">{{reimbursementForm.get('amount')?.value | currency}}</div>
            <div
                class="text-danger"
                *ngIf="reimbursementForm.get('amount')?.touched && !reimbursementForm.get('amount')?.valid"
            >
                Required, must be greater than zero
            </div>            
        </div>

        <div class="form-group mb-3">
            <label for="dateSubmitted">Date Submitted</label>
            <input
                id="dateSubmitted"
                type="text"
                class="form-control"
                formControlName="dateSubmitted"
                placeholder="Date Submitted"
                bsDatepicker
            >
            <div
                class="text-danger"
                *ngIf="reimbursementForm.get('dateSubmitted')?.touched && !reimbursementForm.get('dateSubmitted')?.valid"
            >
                Required
            </div>                
        </div>        
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success me-3" [disabled]="!reimbursementForm.valid" (click)="submit()">Submit</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
</div>