<div class="card bg-primary-subtle">
    <div class="card-body">
        <h6 class="card-text">{{paymentMethod.description}}</h6>
        <h4 class="card-title text-center mb-0">•••• •••• •••• {{paymentMethod.lastFourDigits}}</h4>
    </div>
    <div class="card-footer">
        <span class="card-text">{{paymentMethod.paymentType}}</span>
        <div class="pull-right">
            <button class="btn btn-secondary btn-sm me-2" routerLink="edit-method/{{paymentMethod.id}}"><i class="fa fa-pencil-square-o"></i></button>
            <button class="btn btn-danger btn-sm" (click)="deletePaymentMethod()"><i class="fa fa-trash"></i></button>
        </div>
    </div>
</div>