<div
    *ngIf="claim"
    class="card text-bg-light m-4"
    [ngClass]="isSelected ? 'border-primary' : ''"
    (click)="selectClaim()"
>
    <div class="card-header">
        <div class="row">
            <div class="col-6">Claim #{{claim.claimNumber}}</div>
            <div class="col-6" style="text-align: right;">Visited on {{claim.dateVisited | date:'shortDate'}}</div>
        </div>   
    </div>
    <div class="card-body">
        <h6 class="card-title">{{claim.patientName}}</h6>
        <hr>
        <div class="row" style="text-align: center;">
            <div class="col-6 center-vertical">
                <dt>Owed</dt>
                <dd>{{claim.amountOwed | currency}}</dd>    
            </div>
        
            <div class="col-6 center-vertical">
                <app-claim-status-summary [summaryText]="claim.statusSummary"></app-claim-status-summary>
            </div>
        </div>
    </div>
    <div class="card-footer" style="font-style: italic;">{{claim.claimType}} - {{claim.networkStatus}}</div>
</div>