div {
    border: solid 2px;
    border-radius: 5px;
    padding: 7px;
}

.success {
    border-color: rgb(40, 167, 69);
}

.danger {
    border-color: rgb(220, 53, 69);
}

.warning {
    border-color: rgb(255, 193, 7);
}

.neutral {
    border-color: rgb(108, 117, 125);
}